# Use sklearn to build sparse matrix

In [2]:
import pandas as pd
import numpy as np

In [3]:
wiki = pd.read_csv("people_wiki.csv")

In [4]:
wiki.head(2)

,URI,name,text
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(token_pattern=r'\b\w+\b')
word_count_matrix = vectorizer.fit_transform(wiki['text'])

In [6]:
word_count_matrix.shape

(59071, 548465)

In [7]:
wiki[wiki['name'] == 'Elton John'].index.values

array([19923])

In [9]:
word_count_matrix[19923]

<1x548465 sparse matrix of type '<class 'numpy.int64'>'
	with 255 stored elements in Compressed Sparse Row format>

In [10]:
print(type(word_count_matrix))
print(word_count_matrix[0].shape)

<class 'scipy.sparse.csr.csr_matrix'>
(1, 548465)

# Use turicreate to build word count vector
1. raw word count
2. TF-IDF

In [5]:
import turicreate

In [6]:
people = turicreate.SFrame('people_wiki.sframe')

In [7]:
people

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## Apply raw word count

In [8]:
people['word_count'] = turicreate.text_analytics.count_words(people['text'])

In [9]:
Elton_John = people[people['name'] == 'Elton John']
Elton_John['word_count']

dtype: dict
Rows: ?
[{'social': 1.0, 'champion': 1.0, 'be': 1.0, '2014': 1.0, 'legal': 1.0, 'became': 1.0, '2005': 1.0, 'december': 2.0, '21': 2.0, 'furnish': 2.0, 'david': 1.0, 'civil': 1.0, 'gay': 2.0, 'who': 1.0, '200': 1.0, 'raised': 1.0, 'industry': 1.0, 'film': 1.0, 'parties': 1.0, 'oscar': 1.0, 'partnership': 1.0, 'highestprofile': 1.0, 'which': 1.0, 'hosting': 1.0, 'later': 1.0, 'foundation': 2.0, 'established': 1.0, '1988': 1.0, '1992': 1.0, '1980s': 1.0, 'against': 1.0, 'fight': 1.0, 'heavily': 1.0, 'marriage': 2.0, '2012he': 1.0, 'buckingham': 1.0, 'outside': 1.0, 'and': 15.0, 'queens': 1.0, 'at': 4.0, '10': 1.0, '2002': 1.0, 'palace': 2.0, 'abbey': 1.0, 'hall': 2.0, 'royal': 1.0, 'services': 2.0, '1998': 1.0, 'charitable': 1.0, 'ii': 1.0, 'elizabeth': 1.0, 'empire': 1.0, 'year': 1.0, 'commander': 1.0, 'westminster': 1.0, '1996': 1.0, 'single': 2.0, 'named': 1.0, 'been': 3.0, 'songwriters': 2.0, '100': 3.0, '1994': 1.0, 'into': 3.0, 'overallelton': 1.0, 'wed': 1.0, 'male': 1.0, 'you': 1.0, 'having': 1.0, 'a': 10.0, 'successful': 1.0, 'rock': 2.0, 'musicians': 1.0, 'continues': 1.0, 'its': 2.0, 'stone': 1.0, 'diana': 1.0, 'rolling': 1.0, 'bisexual': 1.0, 'hits': 1.0, 'influential': 1.0, 'over': 2.0, 'honors': 1.0, 'legend': 1.0, 'center': 1.0, 'tony': 1.0, 'culture': 1.0, 'concert': 1.0, 'globe': 1.0, 'academy': 3.0, 'british': 3.0, 'in': 18.0, '2013': 1.0, 'alltime': 1.0, 'after': 1.0, 'bernie': 1.0, 'icon': 1.0, 'producer': 1.0, '49': 1.0, 'brits': 1.0, 'inductee': 1.0, 'contribution': 1.0, 'outstanding': 1.0, 'cbe': 1.0, 'about': 1.0, 'winning': 1.0, 'disney': 1.0, 'five': 1.0, 'become': 1.0, 'performed': 1.0, 'late': 1.0, 'lasting': 1.0, 'awards': 3.0, 'english': 1.0, 'artist': 1.0, 'six': 1.0, 'time': 1.0, 'all': 1.0, 'copies': 1.0, 'order': 1.0, '1997': 2.0, 'albums': 2.0, 'wind': 1.0, 'way': 1.0, 'england': 1.0, 'something': 1.0, 'jubilee': 1.0, 'had': 1.0, 'announced': 1.0, 'knighthood': 1.0, 'singles': 1.0, 'authors': 1.0, 'consecutive': 2.0, 'hollywood': 1.0, '19702000': 1.0, 'years': 1.0, 'making': 1.0, 'for': 5.0, 'including': 1.0, 'nine': 1.0, '27': 1.0, 'his': 4.0, 'list': 1.0, 'billboard': 4.0, '58': 1.0, 'worked': 1.0, 'worldwide': 2.0, 'john': 7.0, '1': 2.0, 'composer': 1.0, 'seven': 1.0, 'an': 3.0, 'fivedecade': 1.0, 'us': 1.0, 'no': 3.0, 'two': 1.0, '33': 1.0, 'they': 1.0, '40': 2.0, 'more': 3.0, 'top': 4.0, 'inception': 1.0, 'events': 1.0, 'world': 1.0, 'taupin': 1.0, 'tonightcandle': 1.0, 'first': 1.0, '2004': 2.0, 'kennedy': 1.0, 'began': 1.0, 'on': 6.0, '2': 1.0, 'movements': 1.0, 'four': 1.0, 'ranked': 2.0, 'music': 3.0, 'annual': 1.0, 'received': 2.0, 'of': 13.0, 'aids': 2.0, 'diamond': 1.0, 'one': 3.0, 'fifty': 1.0, 'him': 3.0, 'pianist': 1.0, 'song': 1.0, 'records': 1.0, '31': 1.0, 'roll': 2.0, 'involved': 1.0, 'hot': 2.0, 'career': 1.0, 'million': 3.0, 'brit': 1.0, 'bestselling': 2.0, 'born': 1.0, 'lyricist': 1.0, 'from': 1.0, 'fellow': 1.0, '2008': 1.0, '1976': 1.0, 'is': 4.0, '30': 1.0, 'than': 3.0, 'inducted': 1.0, 'to': 4.0, 'openly': 1.0, 'composers': 1.0, 'artists': 2.0, 'fame': 2.0, 'number': 2.0, 'since': 5.0, 'partner': 1.0, 'least': 1.0, 'samesex': 1.0, 'elton': 3.0, 'as': 2.0, 'look': 1.0, 'funeral': 1.0, 'has': 9.0, 'such': 1.0, '25': 1.0, 'princess': 1.0, 'era': 1.0, 'occasional': 1.0, 'datein': 1.0, 'singer': 1.0, 'impact': 1.0, 'record': 1.0, 'kenneth': 1.0, 'he': 7.0, 'solo': 1.0, 'hercules': 1.0, 'dwight': 1.0, 'with': 2.0, 'third': 1.0, 'entered': 1.0, 'most': 1.0, 'collaborated': 1.0, 'party': 2.0, '1967': 1.0, 'songwriter': 2.0, '300': 1.0, 'lgbt': 1.0, 'grammy': 1.0, 'actor': 1.0, 'reginald': 1.0, '1947': 1.0, 'golden': 1.0, 'sir': 1.0, 'march': 1.0, 'have': 1.0, 'sold': 2.0, 'the': 27.0, 'was': 2.0, 'award': 5.0}, ... ]

In [10]:
Elton_John[['word_count']].stack('word_count',new_column_name=['word','count']).sort('count', ascending = False)[:3]

Columns:
	word	str
	count	float

Rows: 3

Data:
+------+-------+
| word | count |
+------+-------+
| the  |  27.0 |
|  in  |  18.0 |
| and  |  15.0 |
+------+-------+
[3 rows x 2 columns]

## Apply TF-IDF

In [11]:
people['tfidf'] = turicreate.text_analytics.tf_idf(people['text'])

In [12]:
people

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'melbourne': 1.0, 'colleg... |
| alfred j lewy aka sandy le... | {'time': 1.0, 'each': 1.0,... |
| harpdog brown is a singer ... | {'time': 1.0, 'honored': 1... |
| franz rottensteiner born i... | {'kurdlawitzpreis': 1.0, '... |
| henry krvits born 30 decem... | {'curtis': 1.0, 'promo': 1... |
| sam henderson born october... | {'journal': 1.0, 'niblit':... |
| aaron lacrate is an americ... | {'including': 1.0, 'artist... |
| trevor ferguson aka john f... | {'concordia': 1.0, 'creati... |
| grant nelson born 27 april... | {'knuckles': 1.0, 'simply'... |
| cathy caruth born 1955 is ... | {'n3': 1.0, '2002': 1.0, '... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'melbourne': 3.8914310119... |
| {'time': 1.325334207420049... |
| {'time': 1.325334207420049... |
| {'kurdlawitzpreis': 10.986... |
| {'curtis': 5.2995200328853... |
| {'journal': 3.025473923341... |
| {'including': 1.2272824458... |
| {'concordia': 6.2502969408... |
| {'knuckles': 8.04205641005... |
| {'n3': 10.293348208665249,... |
+-------------------------------+
[59071 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [13]:
Elton_John= people[people['name'] == 'Elton John']
Elton_John[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)[:3]

Columns:
	word	str
	tfidf	float

Rows: 3

Data:
+-----------+--------------------+
|    word   |       tfidf        |
+-----------+--------------------+
|  furnish  | 18.38947183999428  |
|   elton   | 17.482320270031995 |
| billboard | 17.30368095754203  |
+-----------+--------------------+
[3 rows x 2 columns]

## Measure distance by cosine similarity

In [14]:
Victoria_Beckham = people[people['name'] == 'Victoria Beckham']
Paul_McCartney = people[people['name'] == 'Paul McCartney']

In [15]:
Victoria_Beckham['word_count'][0]

{'new': 1.0,
 'biannual': 1.0,
 'ticket': 1.0,
 'clamour': 1.0,
 'scathing': 1.0,
 'celebrity': 1.0,
 'significant': 1.0,
 'saying': 1.0,
 'most': 1.0,
 'show': 1.0,
 'successful': 1.0,
 'wag': 1.0,
 'that': 1.0,
 'belinda': 1.0,
 'won': 1.0,
 'business': 1.0,
 'familys': 1.0,
 'performer': 1.0,
 'daily': 1.0,
 'star': 1.0,
 'assessed': 1.0,
 '2012': 1.0,
 'year': 1.0,
 'brand': 2.0,
 'named': 1.0,
 '2011': 3.0,
 'diffusion': 1.0,
 'label': 3.0,
 'eponymous': 1.0,
 'other': 1.0,
 'collaborations': 1.0,
 'highprofile': 1.0,
 'following': 2.0,
 'interests': 1.0,
 'icon': 1.0,
 'style': 1.0,
 'become': 1.0,
 'noted': 1.0,
 'decade': 1.0,
 'past': 1.0,
 'millionin': 1.0,
 'estimated': 1.0,
 'writing': 1.0,
 'wealth': 1.0,
 'joint': 1.0,
 'children': 1.0,
 'they': 1.0,
 'launched': 1.0,
 'recognised': 1.0,
 'american': 1.0,
 'transition': 1.0,
 'participated': 1.0,
 'mind': 1.0,
 'betty': 1.0,
 'topmodel': 1.0,
 'predicted': 1.0,
 'guest': 1.0,
 'magazine': 1.0,
 'germanys': 1.0,
 'judge': 1.0,
 'david': 1.0,
 'born': 1.0,
 'english': 1.0,
 'next': 1.0,
 'have': 1.0,
 'runway': 1.0,
 'chartbeckham': 1.0,
 'been': 2.0,
 'cameo': 1.0,
 'idol': 1.0,
 'a': 5.0,
 'number': 1.0,
 'fame': 1.0,
 'since': 1.0,
 'for': 1.0,
 'america': 1.0,
 'from': 1.0,
 '2008': 1.0,
 'coming': 1.0,
 'beckhams': 1.0,
 'episode': 1.0,
 'real': 1.0,
 'including': 1.0,
 'about': 1.0,
 'reality': 1.0,
 'five': 1.0,
 'over': 1.0,
 'brands': 1.0,
 'beckham': 8.0,
 'reached': 1.0,
 'pack': 1.0,
 'allfemale': 1.0,
 'release': 1.0,
 'an': 4.0,
 'in': 12.0,
 'first': 1.0,
 'appearance': 1.0,
 'singles': 2.0,
 'being': 1.0,
 'than': 1.0,
 'victoria': 4.0,
 '10': 1.0,
 'out': 1.0,
 'uk': 3.0,
 'model': 1.0,
 'had': 3.0,
 'telstar': 1.0,
 'married': 1.0,
 'records': 2.0,
 'virgin': 1.0,
 'white': 1.0,
 'made': 1.0,
 'gathered': 1.0,
 'signed': 1.0,
 'april': 1.0,
 'after': 1.0,
 'your': 1.0,
 'documentaries': 1.0,
 '1996': 1.0,
 'late': 1.0,
 'the': 19.0,
 'pops': 1.0,
 'internationally': 1.0,
 'designer': 4.0,
 'on': 1.0,
 '2': 1.0,
 'who': 1.0,
 'group': 1.0,
 'four': 2.0,
 'music': 1.0,
 'split': 1.0,
 'of': 6.0,
 'posh': 1.0,
 'spice': 3.0,
 'by': 1.0,
 'project': 1.0,
 'york': 1.0,
 'pop': 1.0,
 'more': 1.0,
 'top': 2.0,
 '17': 1.0,
 'with': 2.0,
 'july': 1.0,
 '2014': 1.0,
 'official': 1.0,
 'week': 1.0,
 'now': 1.0,
 'was': 4.0,
 'at': 2.0,
 'to': 6.0,
 'is': 3.0,
 'couples': 1.0,
 'rose': 1.0,
 '1990s': 1.0,
 'british': 1.0,
 'issue': 1.0,
 'and': 12.0,
 'dubbed': 1.0,
 'as': 2.0,
 'businesswoman': 1.0,
 'fashion': 5.0,
 '380': 1.0,
 'her': 3.0,
 'she': 5.0,
 'singer': 1.0,
 'ugly': 1.0,
 'adams': 1.0,
 'caroline': 1.0,
 '1974': 1.0,
 'lowerpriced': 1.0,
 'has': 4.0,
 'girls': 2.0,
 'telegraph': 1.0,
 'shows': 1.0,
 'ne': 1.0}

In [16]:
turicreate.distances.cosine(Elton_John['tfidf'][0], Victoria_Beckham['tfidf'][0])    #use index0 to retrieve pure dictionary

0.9567006376655429

In [17]:
turicreate.distances.cosine(Elton_John['tfidf'][0], Paul_McCartney['tfidf'][0])
# larger cosine distance, longer distance

0.8250310029221779

## Apply nearest neighbors for retrieval of Wikipedia articles

In [18]:
knn_model_wordcount = turicreate.nearest_neighbors.create(people,features=['word_count'],label='name', distance = 'cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [19]:
knn_model_tfidf = turicreate.nearest_neighbors.create(people,features=['tfidf'],label='name', distance = 'cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

In [20]:
knn_model_wordcount.query(Elton_John)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 4.484ms      |

| Done         |         | 100         | 70.674ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-----------------------+------+
| query_label |  reference_label  |        distance       | rank |
+-------------+-------------------+-----------------------+------+
|      0      |     Elton John    | 2.220446049250313e-16 |  1   |
|      0      |   Cliff Richard   |  0.16142415258967036  |  2   |
|      0      |   Sandro Petrone  |  0.16822542751041114  |  3   |
|      0      |    Rod Stewart    |  0.16832716558706107  |  4   |
|      0      | Malachi O'Doherty |   0.177315545978884   |  5   |
+-------------+-------------------+-----------------------+------+
[5 rows x 4 columns]

In [21]:
knn_model_tfidf.query(Elton_John)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 7.862ms      |

| Done         |         | 100         | 88.54ms      |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+------------------------+------+
| query_label | reference_label  |        distance        | rank |
+-------------+------------------+------------------------+------+
|      0      |    Elton John    | -2.220446049250313e-16 |  1   |
|      0      |   Rod Stewart    |   0.7172196678927374   |  2   |
|      0      |  George Michael  |   0.7476009989692847   |  3   |
|      0      | Sting (musician) |   0.7476719544306141   |  4   |
|      0      |   Phil Collins   |   0.7511932487904706   |  5   |
+-------------+------------------+------------------------+------+
[5 rows x 4 columns]

In [22]:
knn_model_wordcount.query(Victoria_Beckham)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 4.382ms      |

| Done         |         | 100         | 76.742ms     |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+------------------------+------+
| query_label |     reference_label      |        distance        | rank |
+-------------+--------------------------+------------------------+------+
|      0      |     Victoria Beckham     | -2.220446049250313e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |  0.20730703611504997   |  2   |
|      0      |      Adrienne Corri      |  0.21450978278754795   |  3   |
|      0      |     Beverly Jane Fry     |  0.21746646874079278   |  4   |
|      0      |      Raman Mundair       |  0.21769547499150488   |  5   |
+-------------+--------------------------+------------------------+------+
[5 rows x 4 columns]

In [23]:
knn_model_tfidf.query(Victoria_Beckham)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 8.779ms      |

| Done         |         | 100         | 103.793ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+------------------------+------+
| query_label |   reference_label   |        distance        | rank |
+-------------+---------------------+------------------------+------+
|      0      |   Victoria Beckham  | 1.1102230246251565e-16 |  1   |
|      0      |    David Beckham    |   0.5481696102632145   |  2   |
|      0      | Stephen Dow Beckham |   0.7849867068283364   |  3   |
|      0      |        Mel B        |   0.8095855234085036   |  4   |
|      0      |    Caroline Rush    |    0.81982642291868    |  5   |
+-------------+---------------------+------------------------+------+
[5 rows x 4 columns]